body {
    font-family: "Montserrat";
    background-color: #EFFFFD;
    
}

.logo {
    width: 2rem;
    display: inline;
    text-decoration: none;
    white-space: nowrap;
    filter: brightness(800%);
}

.Title:hover {
    color: #42C2FF;
}

.logo:hover {
    color: #42C2FF;

}

.nav-link {
    font-size: 1.2rem;
    
}

.navbar .navbar-toggler:focus{
    color: white;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: #EFFFFD;
}


.nav-item {
    padding: 0 18px;
    
}

#title {
    background-color: #B8FFF9;
}

.img-back {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 0 200px rgba(0,0,0,0.2) inset; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 40%,rgba(184,255,249,1) 100%),url(img/sekolah.jpeg);
}

.Title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    display: inline;
    letter-spacing: 0.3rem;
    padding: 0px 15px;
    color: rgb(207, 207, 207);
}

.SMAKN{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 18rem;
    letter-spacing: 0.5rem;

    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.LIPPO {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5rem;
    

    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}


#Content {
    background-color: #B8FFF9;
    
}

.h1-content {
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #10665e;
    text-align: center;
    font-size: 2rem;
}

.p-content {
    font-family: "Montserrat";
    color: #10665e;
    margin: 4% 20%;
}